$('.paulund_modal_box').css({ 
		'position':'absolute', 
		'left':options.left,
		'top':options.top,
		'display':'none',
		'height': options.height + 'px',
		'width': options.width + 'px',
		'border':'1px solid #fff',
		'box-shadow': '0px 2px 7px #292929',
		'-moz-box-shadow': '0px 2px 7px #292929',
		'-webkit-box-shadow': '0px 2px 7px #292929',
		'border-radius':'10px',
		'-moz-border-radius':'10px',
		'-webkit-border-radius':'10px',
		'background': '#f2f2f2', 
		'z-index':'50',
	});
	$('.paulund_modal_close').css({
		'position':'relative',
		'top':'-25px',
		'left':'20px',
		'float':'right',
		'display':'block',
		'height':'50px',
		'width':'50px',
		'background': 'White',
	});
	$('.paulund_inner_modal_box').css({
		'background-color':'#fff',
		'height':(options.height - 50) + 'px',
		'width':(options.width - 50) + 'px',
		'padding':'10px',
		'margin':'15px',
		'border-radius':'10px',
		'-moz-border-radius':'10px',
	    '-webkit-border-radius':'10px'
	});