@media screen and (min-width:480px) and (max-width:1023px){
    body{min-width: 310px;}

    /* CONTENT TEXT */ 
    .content { width : 95%; }
    .situation { padding : 20px 25px 28px 25px; }
    .situation h2 { font-size : 35px; }
    .position { padding: 10px 25px 10px 25px; }
    .text ul { margin: 0 20px 20px 20px; line-height: 20px; }
    .content-text { padding : 25px 35px; }
    .content-text p { font-size : 16px !important; }
    .content-text .content-text-title { font-size : 18px; }
    .content-text .content-text-title-left, .content-text .content-text-title-right { text-align: center; }
    .content-text .content-text-title-left span, .content-text .content-text-title-right span { padding: 0 15px 0 15px; }
    .content-text .content-text-list-points .content-text-list-points-title { margin-bottom : 10px; }
    .content-text .content-text-points .point-circle { display : none; }
    .content-text .content-text-list-points .content-text-list-points-content { padding : 2px 0 0 14px; text-indent: 0; }
    .content-text .content-text-list-points .content-text-list-points-content .content-text-list-points-content-point p { display: table-cell; height: 103px; }

    /* Header */
    header { height : auto; }
    header img { height : 40px; margin : 25px 0 20px 10px; }
    header nav { display : none; }
    header .mobile { display : block; }
    header .mobile i { float : right; font-size : 28px; height : 94px; line-height : 90px; margin-right : 15px; }
    header .mobile ul { clear : both; display : none; margin-bottom : 20px; width : 100%; }
    header .mobile ul li { margin-bottom : 10px; text-align : right; width : 100%; }
    header .mobile ul li { margin-bottom : 10px; text-align : right; width : 100%; text-transform: uppercase;  }
    header .mobile ul li a { margin-right: 13px;  }
    header .mobile ul li:active { color : #21aaf5; }
    header .header { height: auto; }
    header .search { display : none !important; }
    header.scroll { display : none; }

    /* Teaser */
    #teaser img { width : 80%; }
    #teaser .erreur p { font-size : 17px; height : 96px; margin-bottom : 10px; margin-left : auto; margin-right : auto; margin-top : 8px; max-width : 90%; }
    #teaser .status { cursor : default; font-size : 17px; font-weight : 400; height : 20px; margin-top : 42px; text-transform : uppercase; }
    #teaser .description { font-size : 17px; height : 96px; margin-bottom : 10px; margin-left : auto; margin-right : auto; margin-top : 8px; max-width : 90%; }
    #teaser .compteur { clear : both; color : #22313f; cursor : default; font-family : 'Lato'; font-size : 30px; margin-bottom : 50px; margin-top : 15px; }
    #teaser .compteur span { color : #21aaf5; font-family : 'Lato'; font-size : 50px; margin-left : 20px; }
    #teaser .social { margin-bottom : 5px; }
    #teaser .social a { font-size : 30px; }
    #teaser .copyright { font-weight : 200; line-height : 20px; margin-left : auto; margin-right : auto; margin-top : 20px; width : 90%; }
    #teaser .copyright strong { display : block; font-weight : 400; margin-bottom : -8px; }
    
    /* Initialisation */
    #init img { width : 80%; }
    #init .erreur p { font-size : 17px; height : 96px; margin-bottom : 10px; margin-left : auto; margin-right : auto; margin-top : 8px; max-width : 90%; }
    #init .status { cursor : default; font-size : 17px; font-weight : 400; height : 20px; margin-top : 42px; text-transform : uppercase; }
    #init .language img { width : auto; }
    #init .social { margin-bottom : 5px; }
    #init .social a { font-size : 30px; }
    #init .copyright { font-weight : 200; line-height : 20px; margin-left : auto; margin-right : auto; margin-top : 20px; width : 90%; }
    #init .copyright strong { display : block; font-weight : 400; margin-bottom : -8px; }
    
    /* No Script */
    noscript table { bottom : 0; left : 0; position : absolute; right : 0; top : 0; }
    noscript h1 { cursor : default; }
    noscript a img { width : 80%; }
    noscript .erreur { margin-bottom : 55px; margin-top : 70px; }
    noscript .erreur p { font-size : 17px; margin-bottom: 20px; margin-left : auto; margin-right : auto; margin-top : 8px; max-width : 90%; }
    noscript .erreur p strong { color : #21aaf5; font-weight : normal; }
    noscript .status { cursor : default; font-size : 20px; font-weight : 300; margin-top : 65px; text-transform : uppercase; }
    noscript .language img { width : auto; }
    noscript .social { margin-bottom : 5px; }
    noscript .social a { font-size : 30px; }
    noscript .copyright { font-weight : 200; line-height : 20px; margin-left : auto; margin-right : auto; margin-top : 20px; width : 90%; }
    noscript .copyright strong { display : block; font-weight : 400; margin-bottom : -8px; }
    
    /* Accueil */
    #accueil .slider-fixed { display : block; width : 100%; }
    #accueil .slider-fixed img { width : 100%; }
    #accueil .slider { display : none; }
    #accueil .content-text-presentation { margin-bottom: 10px; }
    #accueil .content-text-parteners { display : none; }
    
    /* Formations */
    #formations .content-text-formations-slider ul {float: none; clear: both; width: 100%; }
    #formations .content-text-formations-slider ul li { height : 40px; line-height : 40px; padding-left : 0; width: 100%; font-size: 20px }
    #formations .content-text-formations-slider ul li a { margin: 0 15px; }
    #formations .content-text-formations-slider ul li.expand { height : 40px; line-height : 40px; }
    #formations .content-text-formations-slider img { width: 100%; margin-bottom: 10px; height: auto;}
    #formations .content-text-formations-presentation ul { text-indent: 0; line-height: 22px; margin: 0 15px;}
    
    /* Formation */
    #formation .content-text { padding: 50px 45px; }
    #formation .content-text .content-text-formations-presentation img { width: 100%; height: auto; }
    #formation .content-text .content-text-list-points .content-text-list-points-content ul { margin-left: 30px; }
    
    /* Entreprises */
    
    /* Infos Pratique */
    #infos_pratiques .content-text { padding-bottom : 1px; }
    #infos_pratiques .content-text-post { margin: 10px 5px 40px 5px; }
    #infos_pratiques .content-text-post .post-img { display : ; width: 100%; margin-bottom: 15px; }
    #infos_pratiques .content-text-post .post-content { width : 100%; }
    #infos_pratiques .content-text-post .post-content .content-text-text { height : auto; }
    #infos_pratiques .content-text-post .post-content .content-text-button { margin-bottom: 20px; margin-top: 20px; float: right; }
    #infos_pratiques .content-text-post .post-content .content-text-button a.read_more { float: none; clear: both; }
    
    /* Info Pratique */
    #info_pratique .content-text { padding-bottom : 1px; padding-top : 40px; }
    #info_pratique .content-text-post { margin-bottom : 30px; margin-top: 10px; }
    #info_pratique .content-text-post .post-img { height: auto; margin-bottom: 20px; width: 100%; }
    
    /* Missions */
    #missions .content-text { padding: 40px 40px !important; }
    #missions .content-text .content-text-view .missions-liste li .professor { display: block; margin: 0; width: 100%; }
    #missions .content-text .content-text-view .missions-liste li i { margin-top: -27px; }
    #missions .content-text .content-text-view .missions-liste li .contente button { float: none; }
    #missions .content-text .content-text-form { margin-top: 20px; }
    #missions .content-text .content-text-form .content-text-text form .left, #missions .content-text .content-text-form .content-text-text form .right { width: 100%; }
    #missions .content-text .content-text-form .content-text-text form .element textarea { width: 97%; }
    #missions .content-text .content-text-form .content-text-text form .element input[type=file] { width: 100%;}
    #missions .content-text .content-text-form .content-text-text form .element.button { float: none; text-align: center;}

    
    /* Contact */
    #contact .content-text .content-text-maps { margin-bottom: 20px; }
    #contact .content-text .content-text-form { width: 100%; margin-bottom: 25px; float: none; }
    #contact .content-text .content-text-form .content-text-text form .element input[type=text], #contact .content-text .content-text-form .content-text-text form .element input[type=email] { padding : 10px 10px 10px 10px; width : 100%; }
    #contact .content-text .content-text-form .content-text-text form .element textarea { max-width : 100%; padding : 10px 10px 10px 10px; width : 100%; }
    #contact .content-text .content-text-form .content-text-text form .element.button {float: right; }
    #contact .content-text .content-text-sidebar { width: 100%; margin-bottom: 25px; float: none; }
    #contact .content-text .content-text-sidebar .content-text-text { margin : 5px 0 10px 0; }
    #contact .content-text .content-text-sidebar .content-text-text .element .value { width: 94%; }
    
    /* Mentions Légales */
    #mention_legales .content-text { padding: 40px 40px; }
    #mention_legales .mentions_titre { border-bottom : 1px solid gray; font-size : 20px; font-weight : bold; margin : 15px; padding : 20px; }
    #mention_legales .texte_mentions { margin-top : 35px; }
    #mention_legales .texte_mentions p { line-height : 25px; margin-bottom : 15px; text-align : justify; text-indent : 45px; }
    #mention_legales .texte_mentions ul { line-height : 20px; list-style : circle; margin-bottom : 15px; margin-left : 55px; }
    #mention_legales .texte_mentions a { color : #21aaf5; text-decoration : underline; }
    #mention_legales .texte_mentions a:hover { text-decoration : none; }
    #mention_legales .element { margin: 0; width: 100%; }
    #mention_legales .proprio_site { float : left; padding : 15px; text-align : center; width : 25%; }
    #mention_legales .edition { float : right; margin-right : 35px; padding : 15px; text-align : center; }
    #mention_legales .hebergement { margin-left : 35%; padding : 15px; text-align : center; width : 25%; }
    
    /* Connexion */
    #connexion .box { width: 45%; margin: 70px auto 70px auto; }
    #connexion .box form .element.button { float: none; text-align: center;}
    
    /* Plan du site */
    #plan_du_site .content-text { padding: 40px 40px; }
    
    /* Erreur */
    #erreur .title { font-size : 150px; margin-top : 130px; text-align : center; }
    #erreur .texte { font-size : 50px; text-align : center; width: 100%; margin: 50px auto 170px auto; }

    /* Footer */
    footer .widgets { height : auto; padding : 0 30px; padding-top : 10px; }
    footer .widgets .title { margin-bottom : 40px; margin-top : 40px; }
    footer .widgets .content-links { display : none; }
    footer .widgets .content-address, footer .widgets .content-social-network { float : none; margin : 0 40px 0 0; text-align : center; width : 100%; }
    footer .widgets .content-social-network { margin-top : 50px; }
    footer .widgets .content-social-network .title { display : none; }
    footer .widgets .content-social-network ul { text-align : center; }
    footer .widgets .content-social-network ul li { display : inline-block; margin-right : 50px; }
    footer .widgets .content-social-network ul li:last-child { margin-right : 0; }
    footer .widgets .clear { height : 10px; }
    footer .copyright { line-height : 19px; padding : 22px 80px 25px 80px; }
    footer .copyright p.left, footer .copyright p.right { float : none; text-align : center; }
    footer .copyright p.left { margin-bottom : 10px; }
}