/* CSS Général - DESKTOP */
/* ------------------------------------------------------ */
    body { background : #f7f7f8; color : #22313f; font-family : "Raleway"; font-size : 12pt; }
    a { color : #22313f; cursor : hand; text-decoration : none; cursor: pointer; }
    strong { font-weight : bold; }
    .clear { clear : both; float : none; }
    .no-display { display : none; }
    .script { display : none; }
    .script-direct { display : none; }
    .content { margin : 0 auto 0 auto; width : 1280px; }
    div.left { float : left; }
    div.right { float : right; }
    .text { font-size : 16px; }
    .text a { text-decoration : underline; }
    .text p { line-height : 22px; margin-bottom : 20px; }
    .text ul { list-style : disc; list-style-position : inside; margin-left : 35px; margin-left : 50px; }
    .text ul li { margin-bottom : 5px; }
    .text ul ul { list-style : disc; margin-left : 50px; margin-top : 0; }
    .center { text-align : center; }
    .justify { text-align : justify; }
    .alinea { text-indent : 45px; }
    .italic { font-style : italic; }
    .click { cursor : pointer; }
    .blue { color : #21aaf5; }

    /* CONTENT TEXT */ 
    .situation { background-color : #e6e6e6; padding : 40px 45px 48px 45px; }
    .situation h2 { display : block; font-size : 50px; margin-bottom : 6px; text-transform : uppercase; }
    .situation h3 { display : block; font-size : 16px; }
    .position { background : #efefef; font-size : 12px; padding : 10px 45px 10px 45px; text-transform : uppercase; }
    .position i:first-child { margin-right : 10px; }
    .content-text { background-color : #FFF; padding : 30px 80px; }
    .content-text .content-text-title { background-image : url(../images/part-trait.png); background-position : 0 10px; background-repeat : repeat-x; cursor : default; font-size : 20px; font-weight : bold; margin : 20px 0; text-align : center; text-transform : uppercase; width : 100%; }
    .content-text .content-text-title span { background-color : #FFF; padding : 0 15px; }
    .content-text .content-text-title span span { text-transform: initial; padding:0; }
    .content-text .content-text-title-left { background-image : url(../images/part-trait.png); background-position : 0 10px; background-repeat : repeat-x; cursor : default; font-size : 20px; font-weight : bold; margin : 20px 0; text-align : left; text-transform : uppercase; width : 100%; }
    .content-text .content-text-title-left span { background-color : #FFF; padding : 0 15px 0 0; }
    .content-text .content-text-title-left span span { text-transform: initial; padding:0; }
    .content-text .content-text-title-right { background-image : url(../images/part-trait.png); background-position : 0 10px; background-repeat : repeat-x; cursor : default; font-size : 20px; font-weight : bold; margin : 20px 0; text-align : right; text-transform : uppercase; width : 100%; }
    .content-text .content-text-title-right span { background-color : #FFF; padding : 0 0 0 15px; }
    .content-text .content-text-title-left span span { text-transform: initial; padding:0; }
    .content-text .content-text-text { }
    .content-text .content-text-list-points { margin-top : 30px; }
    .content-text .content-text-list-points .content-text-list-points-title { font-size : 20px; margin-bottom : 5px; text-transform : uppercase; width : 100%; }
    .content-text .content-text-list-points .content-text-list-points-title:hover, .content-text .content-text-list-points .content-text-list-points-title.active { color : #21aaf5; }
    .content-text .content-text-list-points .content-text-list-points-content { margin-bottom : 30px; padding : 2px 0 0 50px; }
    .content-text .content-text-list-points .content-text-list-points-content ul { margin-left : 0px; }
    .content-text .content-text-list-points .content-text-list-points-content .content-text-list-points-content-point { clear : both; margin-bottom : 5px; }
    .content-text .content-text-list-points .content-text-list-points-content .content-text-list-points-content-point .point-circle { background-clip : padding-box; background-color : #21a9f5; border-radius : 50%; float : left; font-family : 'Lato'; height : 103px; khtml-border-radius : 50%; moz-border-radius : 50%; ms-border-radius : 50%; o-border-radius : 50%; text-align : center; webkit-border-radius : 50%; width : 103px; }
    .content-text .content-text-list-points .content-text-list-points-content .content-text-list-points-content-point .point-circle i { color : #FFF; font-size : 48px; line-height : 104px; margin : 0 22px; }
    .content-text .content-text-list-points .content-text-list-points-content .content-text-list-points-content-point p { display : table-cell; font-size : 18px; height : 103px; line-height : 24px; padding-left : 25px; vertical-align : middle; }
    .content-text .content-text-points .point-circle { background-clip : padding-box; background-color : #21a9f5; border-radius : 50%; font-family : 'Lato'; height : 103px; khtml-border-radius : 50%; moz-border-radius : 50%; ms-border-radius : 50%; o-border-radius : 50%; text-align : center; webkit-border-radius : 50%; width : 103px; }
    .content-text .content-text-points .point-circle { display : inline-block; margin-right : 25px; vertical-align : middle; }
    .content-text .content-text-points .point-circle { margin-left : 25px; }
    .content-text .content-text-points .point-circle i { color : #FFF; font-size : 48px; line-height : 104px; margin : 0 22px; }
    /*.content-text .content-text-points p { display : table-cell; height : 103px; vertical-align : middle; width : 1017px; }*/
    .content-text .notify { border : 1px solid #eee; border-left-width : 5px; margin : 0 0 35px 0; padding : 15px 20px; }
    .content-text .notify.blue { border-left-color : #21aaf5; color : #22313f; }
    .content-text .notify.red { border-left-color : #d9534f; color : #22313f; }
    .content-text .notify.green { border-left-color : #5cb85c; color : #22313f; }
    .content-text .notify.yellow { border-left-color : #f0ad4e; color : #22313f; }
    .content-text .notify.grey { border-left-color : #777; color : #22313f; }

    /* Header */
    header { background-color : white; border-bottom : 4px solid #e6e6e6; /* height : 125px; */ z-index : 9; }
    header a.logo { float : left; }
    header img { margin : 35px 0 35px 30px; }
    header nav { cursor : default; float : right; line-height : 125px; margin-right : 25px; }
    header nav ul li { display : inline-block; font-size : 17px; letter-spacing : -1px; margin : 0 4px 0 4px; text-transform : uppercase; }
    header nav ul li.icon { margin : 0 0px 0 8px; }
    header nav ul li.icon a:hover { color : #22313f; }
    header nav ul li.active a { color : #21aaf5; }
    header nav ul li a:hover, header nav ul li a:active, header nav ul li a:focus { color : #21aaf5; }
    header.scroll { border-bottom : 3px solid #e6e6e6; height : 80px; left : 0; position : fixed; right : 0; }
    header.scroll img { height : 40px; margin : 20px 0 20px 20px; }
    header.scroll nav { line-height : 80px; margin-right : 25px; margin-top : 0px; }
    header.scroll .header { height: auto; }
    header .header { height: 125px; }
    header .search { background : #efefef; height: 64px;}
    header .search form { padding : 15px 34px 15px 34px; }
    header .search.scroll { width : 100%; }
    header .search.scroll form { padding : 15px 34px 15px 24px; }
    header .search i { color : #a2a2a2; display : block; float : left; font-size : 27px; margin-top : 3px; }
    header .search input { background-color : transparent; border : none; color : #a2a2a2; float : left; font-family : Lato; font-size : 23px; line-height : 22px; margin : 4px 0px 0px 12px; outline : none; width : 1170px; }
    _::-moz-svg-foreign-content, :root header nav { float : right; line-height : 75px; }
    _::-moz-svg-foreign-content, :root header a { float : left; }
    _::-moz-svg-foreign-content, :root header nav ul li { display : inline-block; font-size : 17px; height : 17px; letter-spacing : -1px; margin : 0 4px 0 4px; text-transform : uppercase; }
    _::-moz-svg-foreign-content, :root header.scroll nav { line-height : 50px; margin-right : 25px; margin-top : 0px; }

    /* Teaser */
    #teaser table { bottom : 0; left : 0; position : absolute; right : 0; top : 0; }
    #teaser h1 { cursor : default; }
    #teaser .erreur { margin-bottom : 60px; margin-top : 70px; }
    #teaser .erreur p { font-size : 18px; font-weight : 200; line-height : 24px; margin-bottom : 20px; margin-left : auto; margin-right : auto; margin-top : 20px; max-width : 570px; }
    #teaser .erreur p strong { color : #21aaf5; font-weight : normal; }
    #teaser .status { cursor : default; font-size : 20px; font-weight : 400; margin-top : 40px; text-transform : uppercase; }
    #teaser .description { font-size : 18px; font-weight : 200; line-height : 24px; margin-bottom : 40px; margin-left : auto; margin-right : auto; margin-top : 20px; max-width : 570px; }
    #teaser .description strong { color : #21aaf5; font-weight : normal; }
    #teaser .compteur { color : #22313f; cursor : default; font-family : 'Lato'; font-size : 40px; margin-bottom : 50px; }
    #teaser .compteur span { color : #21aaf5; font-family : 'Lato'; font-size : 70px; margin-left : 20px; }
    #teaser .social { margin-bottom : 15px; }
    #teaser .social a { font-size : 50px; }
    #teaser .copyright { font-weight : 200; line-height : 20px; }
    #teaser .copyright strong { font-weight : 400; }

    /* Initialisation */
    #init table { bottom : 0; left : 0; position : absolute; right : 0; top : 0; }
    #init h1 { cursor : default; }
    #init .erreur { margin-bottom : 60px; margin-top : 70px; }
    #init .erreur p { font-size : 18px; font-weight : 200; line-height : 24px; margin-bottom : 20px; margin-left : auto; margin-right : auto; margin-top : 20px; max-width : 570px; }
    #init .erreur p strong { color : #21aaf5; font-weight : normal; }
    #init .status { cursor : default; font-size : 20px; font-weight : 300; margin-top : 65px; text-transform : uppercase; }
    #init .language { margin-bottom : 60px; margin-top : 25px; }
    #init .language a { margin : 20px; }
    #init .social { margin-bottom : 15px; }
    #init .social a { font-size : 50px; }
    #init .copyright { font-weight : 200; line-height : 20px; }
    #init .copyright strong { font-weight : 400; }

    /* No Script */
    noscript table { bottom : 0; left : 0; position : absolute; right : 0; top : 0; }
    noscript h1 { cursor : default; }
    noscript .erreur { margin-bottom : 60px; margin-top : 70px; }
    noscript .erreur p { font-size : 18px; font-weight : 200; line-height : 24px; margin-bottom : 20px; margin-left : auto; margin-right : auto; margin-top : 20px; max-width : 570px; }
    noscript .erreur p strong { color : #21aaf5; font-weight : normal; }
    noscript .status { cursor : default; font-size : 20px; font-weight : 300; margin-top : 65px; text-transform : uppercase; }
    noscript .language { margin-bottom : 60px; margin-top : 25px; }
    noscript .language a { margin : 20px; }
    noscript .social { margin-bottom : 15px; }
    noscript .social a { font-size : 50px; }
    noscript .copyright { font-weight : 200; line-height : 20px; }
    noscript .copyright strong { font-weight : 400; }

    /* Accueil */
    #accueil .slider { border-bottom : 3px solid #e6e6e6; height : 484px; overflow : hidden; position : relative; width : 1280px; }
    #accueil .slider .slide { left : 0; position : absolute; top : 0; width : 1280px; }
    #accueil .slider #prec .fleche-gauche { cursor : pointer; left : 20px; position : absolute; top : 223px; z-index : 1; }
    #accueil .slider #suiv .fleche-droite { cursor : pointer; position : absolute; right : 20px; top : 223px; z-index : 1; }
    #accueil .slider #suiv .fleche-droite:hover { background-image : url(../images/slider-fleche-droite-hover.png); }
    #accueil .slider #prec .fleche-gauche:hover { background-image : url(../images/slider-fleche-gauche-hover.png); }
    #accueil .pagination { bottom : 24px; position : absolute; text-align : center; width : 100%; }
    #accueil .pagination i { color : #21aaf5; cursor : pointer; margin-left : 5px; }
    #accueil .pagination i:hover, #accueil .pagination i.active { color : #FFF; margin-left : 5px; }
    #accueil .content-text-presentation { margin-bottom : 20px; }
    #accueil .content-text-parteners { margin-bottom : 20px; }
    #accueil .content-text-parteners ul.content-text-text { width : 100%; }
    #accueil .content-text-parteners ul.content-text-text li { display : inline-block; margin-left : 60px; }
    #accueil .content-text-parteners ul.content-text-text li:first-child { margin-left : 0; }

    /* Formations */
    #formations .content-text-formations-slider { margin-top : 20px; }
    #formations .content-text-formations-slider ul { float : left; }
    #formations .content-text-formations-slider ul li { background-color : #22313f; color : #FFF; font-size : 35px; height : 100px; line-height : 95px; margin-bottom : 4px; padding-left : 20px; width : 290px; }
    #formations .content-text-formations-slider ul li.expand { height : 110px; line-height : 105px; }
    #formations .content-text-formations-slider ul li:hover { background-color : #21aaf5; }
    #formations .content-text-formations-slider ul a { color : #FFF; display : block; height : 100%; width : 100%; }
    #formations .content-text-formations-slider img { float : right; height : 536px; }
    #formations .content-text-formations-presentation { margin-bottom : 20px; margin-top : 20px; }
    #formations .content-text-formations-presentation ul { list-style-position : inside; margin-left : 0; }

    /* Formation */
    #formation .content-text { padding : 50px 80px; }
    #formation .content-text .content-text-formations-presentation img { float : left; height : 300px; margin : 0 15px 15px 0; width : 450px; }
    
    /* Entreprises */
    #entreprise .content-text-entreprises { margin : 30px 0; }
    #entreprise .content-text { padding-bottom : 50px; }
    
    /* Infos Pratique */
    #infos_pratiques .content-text { padding-bottom : 40px; padding-top : 40px; }
    #infos_pratiques .content-text-post { margin-bottom : 40px; margin-top : 40px; }
    #infos_pratiques .content-text-post .post-img { float : left; width : 400px; }
    #infos_pratiques .content-text-post .post-content { width : 690px; }
    #infos_pratiques .content-text-post .post-content h4 { margin : 0; }
    #infos_pratiques .content-text-post .post-content div.info { color : grey; margin : 10px 0; }
    #infos_pratiques .content-text-post .post-content .content-text-text { clear : both; height : 195px; margin-bottom : 10px; }
    #infos_pratiques .content-text-post .post-content .content-text-text p { margin-bottom : 8px; }
    #infos_pratiques .content-text-post .post-content .content-text-button { clear : both; height : 41px; }
    #infos_pratiques .content-text-post .post-content .content-text-button a.read_more { background-color : #21aaf5; color : #FFF; float : right; margin-top : 0; padding : 13px 28px; text-decoration : none; }
    
    /* Info Pratique */
    #info_pratique .content-text { padding-bottom : 40px; padding-top : 40px; }
    #info_pratique .content-text-post { margin-bottom : 30px; margin-top : 40px; }
    #info_pratique .content-text-post .post-img { height : 493px; margin-bottom : 30px; width : 1120px; }
    #info_pratique .content-text-post .post-content { }
    #info_pratique .content-text-post .post-content h4 { background-position : 0 15px; font-size : 30px; margin : 0; }
    #info_pratique .content-text-post .post-content div.info { color : grey; margin : 10px 0 20px 0; }
    #info_pratique .content-text-post .post-content .content-text-text { clear : both; }
    #info_pratique .content-text-post .post-content .content-text-text p { margin-bottom : 20px; }
    #info_pratique .content-text-post .post-content .content-text-button { clear : both; height : 41px; }
    #info_pratique .content-text-post .post-content .content-text-button a.read_more { background-color : #21aaf5; color : #FFF; float : right; margin-top : 0; padding : 13px 28px; text-decoration : none; }
    #info_pratique .content-text-nav { border-style : solid; border-top-width : 1px; margin-bottom : 30px; margin-top : 30px; padding : 17px 0px; width : 100%; }
    #info_pratique .content-text-nav a:hover { color : #21aaf5; }
    
    /* Missions */
    #missions .content-text { padding: 60px 80px; }
    #missions .content-text .content-text-view .missions-liste { list-style: none; margin: 0; }
    #missions .content-text .content-text-view .missions-liste li { background : #f5f5f5; padding: 14px 20px; }
    #missions .content-text .content-text-view .missions-liste li .code { font-weight: bold; }
    #missions .content-text .content-text-view .missions-liste li .professor { margin-left: 15px; }
    #missions .content-text .content-text-view .missions-liste li i { float: right; color:#21aaf5; }
    #missions .content-text .content-text-view .missions-liste li .contente { margin-top: 20px; display: none; }
    #missions .content-text .content-text-view .missions-liste li .contente div { width: 100%; display: block; text-align: justify; }
    #missions .content-text .content-text-view .missions-liste li .contente a.button { float: left; background : #21aaf5; border : none; box-sizing : border-box; color : #FFF; font-family : 'Lato'; font-size: 13px; font-weight : bold; margin : -15px 0 10px 0; moz-box-sizing : border-box; padding: 12px 20px 14px 20px; webkit-box-sizing : border-box; text-decoration:none;}
    #missions .content-text .content-text-form  { margin-top: 40px; }
    #missions .content-text .content-text-form .content-text-text form .left, #missions .content-text .content-text-form .content-text-text form .right { width: 540px; }
    #missions .content-text .content-text-form .content-text-text form .element { display : block; }
    #missions .content-text .content-text-form .content-text-text form .element label { display : block; margin-top : 5px; text-align: left; }
    #missions .content-text .content-text-form .content-text-text form .element input[type=text], #missions .content-text .content-text-form .content-text-text form .element input[type=email],  #missions .content-text .content-text-form .content-text-text form .element input[type=date] { background : #f5f5f5; border : none; box-sizing : border-box; color : #b5b5b5; font-family : 'Lato'; font-size : 15px; -webkit-box-sizing: border-box; font-weight : bold; margin : 5px 0 10px 0; moz-box-sizing : border-box; padding : 15px 15px 15px 15px; width: 100%; }
    #missions .content-text .content-text-form .content-text-text form .element textarea { background : #f5f5f5; border : none; color : #b5b5b5; font-family : 'Lato'; font-size : 15px; font-weight : bold; margin : 5px 0 10px 0; max-width : 1090px; padding : 15px 15px 15px 15px; width : 1090px; }
    #missions .content-text .content-text-form .content-text-text form .element input[type=file]{background : #21aaf5; border : none; box-sizing : border-box; color : #FFF; font-family : 'Lato'; font-size : 15px; font-weight : bold; margin : 5px 0 10px 0; moz-box-sizing : border-box; padding : 12px 20px 14px 20px; webkit-box-sizing : border-box; text-decoration:none; }
    #missions .content-text .content-text-form .content-text-text form .element.button { float : right; }
    #missions .content-text .content-text-form .content-text-text form .element input[type=submit] { background : #21aaf5; border : none; box-sizing : border-box; color : #FFF; font-family : 'Lato'; font-size : 15px; font-weight : bold; margin : 5px 0 10px 0; moz-box-sizing : border-box; padding : 12px 20px 14px 20px; webkit-box-sizing : border-box; }
    #missions .content-text .content-text-form .content-text-text form .element input[type=reset] { background : #f5f5f5; border : none; box-sizing : border-box; color : #b5b5b5; font-family : 'Lato'; font-size : 15px; font-weight : bold; margin : 5px 0 10px 0; moz-box-sizing : border-box; padding : 12px 20px 14px 20px; webkit-box-sizing : border-box; }
    
    /* Connexion */
    #connexion .box { margin-bottom : 95px; margin-left : auto; margin-right : auto; margin-top : 80px; width : 370px; }
    #connexion .icon { background-clip : padding-box; background-color : #21a9f5; border-radius : 50%; font-family : 'Lato'; height : 163px; khtml-border-radius : 50%; margin-bottom : 50px; margin-left : auto; margin-right : auto; moz-border-radius : 50%; ms-border-radius : 50%; o-border-radius : 50%; text-align : center; webkit-border-radius : 50%; width : 163px; }
    #connexion .icon i { color : #FFF; font-size : 88px; line-height : 163px; margin : 0 22px; }
    #connexion .box form .element { display : block; }
    #connexion .box form .element label { display : block; margin-top : 5px; }
    #connexion .box form .element input[type=text], #connexion .box form .element input[type=password] { background : #f5f5f5; border : none; box-sizing : border-box; color : #b5b5b5; font-family : 'Lato'; font-size : 15px; font-weight : bold; margin : 5px 0 10px 0; moz-box-sizing : border-box; padding : 15px 15px 15px 15px; webkit-box-sizing : border-box; width : 100%; }
    #connexion .box form .element.button { float : right; }
    #connexion .box form .element input[type=submit] { background : #21aaf5; border : none; box-sizing : border-box; color : #FFF; font-family : 'Lato'; font-size : 15px; font-weight : bold; margin : 20px 0 10px 0; moz-box-sizing : border-box; padding : 12px 30px 14px 30px; webkit-box-sizing : border-box; }
    
    /* Contact */
    #contact .content-text .content-text-maps { margin : 30px 0 40px 0; }
    #contact .content-text .content-text-maps .map { border : 0; pointer-events : none; }
    #contact .content-text .content-text-maps .content-text-text { background : #efefef url(../images/map-loader.gif) no-repeat center center; }
    #contact .content-text .content-text-form { float : left; width : 770px; }
    #contact .content-text .content-text-form .content-text-text form .element { display : block; }
    #contact .content-text .content-text-form .content-text-text form .element label { display : block; margin-top : 5px; }
    #contact .content-text .content-text-form .content-text-text form .element input[type=text], #contact .content-text .content-text-form .content-text-text form .element input[type=email] { background : #f5f5f5; border : none; box-sizing : border-box; color : #b5b5b5; font-family : 'Lato'; font-size : 15px; font-weight : bold; margin : 5px 0 10px 0; moz-box-sizing : border-box; padding : 15px 15px 15px 15px; webkit-box-sizing : border-box; width : 100%; }
    #contact .content-text .content-text-form .content-text-text form .element textarea { background : #f5f5f5; border : none; box-sizing : border-box; color : #b5b5b5; font-family : 'Lato'; font-size : 15px; font-weight : bold; margin : 5px 0 10px 0; max-width : 100%; moz-box-sizing : border-box; padding : 15px 15px 15px 15px; webkit-box-sizing : border-box; width : 100%; }
    #contact .content-text .content-text-form .content-text-text form .element.button { float : right; }
    #contact .content-text .content-text-form .content-text-text form .element input[type=submit] { background : #21aaf5; border : none; box-sizing : border-box; color : #FFF; font-family : 'Lato'; font-size : 15px; font-weight : bold; margin : 5px 0 10px 0; moz-box-sizing : border-box; padding : 12px 20px 14px 20px; webkit-box-sizing : border-box; }
    #contact .content-text .content-text-form .content-text-text form .element input[type=reset] { background : #f5f5f5; border : none; box-sizing : border-box; color : #b5b5b5; font-family : 'Lato'; font-size : 15px; font-weight : bold; margin : 5px 0 10px 0; moz-box-sizing : border-box; padding : 12px 20px 14px 20px; webkit-box-sizing : border-box; }
    #contact .content-text .content-text-sidebar { float : right; width : 300px; }
    #contact .content-text .content-text-sidebar .content-text-text { margin : 5px 0 0 0; }
    #contact .content-text .content-text-sidebar .content-text-text .element { clear : both; display : block; margin : 0 0 5px 0; }
    #contact .content-text .content-text-sidebar .content-text-text .element i { float : left; }
    #contact .content-text .content-text-sidebar .content-text-text .element .value { float : right; margin-bottom : 5px; width : 270px; }
    
    /* Mentions Légales */
    #mention_legales .content-text { padding-top : 60px; }
    #mention_legales .element { float : left; list-style : none; margin : 0px 20px 20px; padding : 15px 0; text-align : center; width : 333px; }
    #mention_legales .element .content-title { background-image : url(../images/part-trait.png); background-position : 0 10px; background-repeat : repeat-x; cursor : default; font-size : 20px; font-weight : bold; margin : 20px 0; text-align : center; text-transform : uppercase; width : 100%; }
    #mention_legales .element .content-title span { background-color : #FFF; padding : 0 10px; }
    #mention_legales .element .content-info { line-height : 22px; }
    
    /* Plan du site */
    #plan_du_site .content-text { padding-bottom : 60px; padding-top : 60px; }
    #plan_du_site a { text-decoration : none; }
    #plan_du_site ul { margin-left : 0; margin-top : 0; }
    #plan_du_site ul li { height : 20px; list-style-type : none; margin-bottom : 0; }
    #plan_du_site ul>ul { margin-bottom : 5px; margin-left : 30px; margin-top : 2px; }
    #plan_du_site ul a:hover { color : #21aaf5; }

    /* Erreur */
    #erreur .title { font-size : 150px; margin-top : 130px; text-align : center; }
    #erreur .texte { font-size : 50px; text-align : center; width: 750px; margin: 50px auto 170px auto; }

    /* Footer */
    footer .widgets { background : #22313f; color : #f7f7f8; height : 440px; padding : 0 80px; }
    footer .widgets .title { font-size : 20px; font-weight : bold; margin-bottom : 50px; margin-top : 50px; }
    footer .widgets .value { }
    footer .widgets .value a { color : #f7f7f8; }
    footer .widgets .value a:hover, footer .widgets .value a:active, footer .widgets .value a:focus { color : #21aaf5; }
    footer .widgets .content-address { float : left; line-height : 30px; margin : 0 40px 0 0; width : 370px; }
    footer .widgets .content-address .value { margin-top : -12px; }
    footer .widgets .content-address .value a { color : #FFF; }
    footer .widgets .content-address .value p { line-height : 20px; margin-bottom : 20px; }
    footer .widgets .content-links { float : left; margin : 0 40px 0 40px; width : 300px; }
    footer .widgets .content-links li { border-bottom : 1px solid #18222c; margin-bottom : 17px; padding-bottom : 17px; }
    footer .widgets .content-links li:last-child { border-bottom : none; }
    footer .widgets .content-links li i { margin-right : 5px; }
    footer .content-social-network { float : right; margin-left : 40px; width : 280px; }
    footer .content-social-network .value { margin-top : -6px; }
    footer .widgets .content-social-network i { font-size : 30px; margin-right : 10px; }
    footer .widgets .content-social-network ul li { line-height : 30px; margin-bottom : 17px; }
    footer .copyright { background : #18222c; clear : both; padding : 32px 80px 45px 80px; }
    footer .copyright a { color : #21aaf5; color : #FFF; }
    footer .copyright p.left { color : #e6e6e6; float : left; }
    footer .copyright p.right { color : #e6e6e6; float : right; text-align : right; }






/* CSS Général - MINI DESKTOP */
/* ------------------------------------------------------ */

@media screen and (min-width:992px) and (max-width:1290px){
    /* CONTENT TEXT */ 
    .content { width: 1024px; }
    
    /* Header */
    header .search input { width: 800px; }
    
    /* Accueil */
    #accueil .slider {width: 1024px; height: 387px;}
    #accueil .slider .slide {width: 1024px;}
    #accueil .slider .slide img {width: 1024px;}
    #accueil .slider #prec .fleche-gauche, #accueil .slider #suiv .fleche-droite{top: 180px;}
    #accueil .content-text-parteners ul.content-text-text li { margin-left: 43px; }
    #accueil .content-text-parteners ul.content-text-text img { height: 65px;}
    
    /* Footer */
    footer .widgets { height: 400px; }
    footer .widgets .content-address { width: 234px; }
    footer .widgets .content-links { width: 234px; }
    footer .content-social-network { width: 234px; }
    footer .copyright { padding: 20px 0; }
    footer .copyright p.left { float: none; text-align: center; margin-bottom: 5px; }
    footer .copyright p.right { float: none; text-align: center; }
    
    /* Formation */
    #formations .content-text-formations-slider { margin-top : 20px; }
    #formations .content-text-formations-slider ul { float : left; }
    #formations .content-text-formations-slider ul li { background-color : #22313f; color : #FFF; font-size : 35px; height : 70px; line-height : 70px; margin-bottom : 4px; padding-left : 20px; width : 250px; }
    #formations .content-text-formations-slider ul li.expand { height : 80px; line-height : 80px; }
    #formations .content-text-formations-slider ul li:hover { background-color : #21aaf5; }
    #formations .content-text-formations-slider ul a { color : #FFF; display : block; height : 100%; width : 100%; }
    #formations .content-text-formations-slider img { float : right; height : 386px; }
    
    /* Infos Pratiques */
    #infos_pratiques .content-text-post .post-img { width: 350px; }
    #infos_pratiques .content-text-post .post-content { width: 492px; }
    
    /* Info Pratique */
    #infos_pratiques .content-text-post .post-content .content-text-text { height: auto; }
    #info_pratique .content-text-post .post-img { margin-bottom: 30px; width: 864px; height: 380px; }

    /* Contact */
    #contact .content-text .content-text-form { width: 590px; }
    #contact .content-text .content-text-sidebar { width: 250px; }
    #contact .content-text .content-text-sidebar .content-text-text .element .value { width: 220px; }
    
    /* Missions */
    #missions .content-text .content-text-form .content-text-text form .left, #missions .content-text .content-text-form .content-text-text form .right { width: 420px; }
    #missions .content-text .content-text-form .content-text-text form .element textarea { width: 835px; }

    
    /* Mentions Légales */
    #mention_legales .element { width: 242px; }
}